<div id="characterName"></div>
<div id="class"></div>
<div id="race"></div>
<div id="alignment"></div>
<div id="strength"></div>
<div id="dexterity"></div>
<div id="constitution"></div>
<div id="intelligence"></div>
<div id="wisdom"></div>
<div id="charisma"></div>
<div id="strengthST"></div>
<div id="dexterityST"></div>
<div id="constitutionST"></div>
<div id="intelligenceST"></div>
<div id="wisdomST"></div>
<div id="charismaST"></div>
<div id="acrobatics"></div>
<div id="animalHandling"></div>
<div id="arcana"></div>
<div id="athletics"></div>
<div id="deception"></div>
<div id="history"></div>
<div id="insight"></div>
<div id="intimidation"></div>
<div id="investigation"></div>
<div id="medicine"></div>
<div id="nature"></div>
<div id="perception"></div>
<div id="performance"></div>
<div id="persuasion"></div>
<div id="religion"></div>
<div id="sleightOfHand"></div>
<div id="stealth"></div>
<div id="survival"></div>
<div id="profBonus"></div>
<div id="hpTotal"></div>
<div id="hpCurrent"></div>
<div id="speed"></div>
<div id="initiative"></div>
<div id="features"></div>
<div id="notes"></div>
<div id="equipment"></div>
<div id="cp"></div>
<div id="sp"></div>
<div id="ep"></div>
<div id="gp"></div>
<div id="pp"></div>
<div id="spellSave"></div>
<div id="spellAttack"></div>
<div id="passivePer"></div>
<div id="combat"></div>
<div id="langauges"></div>

