{{#each backgrounds as |background| }}
    <a href="/charactersheet">
    <div class="bg-button">
            <p>{{background.background}}</p>
                <p>{{background.description}}</p>
    </div>
</a>
{{/each}}

<script src="/js/background.js"></script>