<a href="/charactersheet">
<div class="bg-button" id="Acolyte">
        <p>Acolyte</p>
            <p>Add 2 Language(s) | Add Prof: Insight, Religion | Add Tool Prof: None</p>
    </div>

<div class="bg-button" id="Anthropologist">
    <p>Anthropologist</p>
        <p>Add 2 Language(s) | Add Prof: Insight, Religion | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="Archaeologist">
    <p>Archaeologist</p>
        <p>Add 1 Language(s) | Add Prof: Hirtory, Survival | Add Tool Prof: Choose 1: Cartogropher's Tools or Navigator's Tools</p>
</div>

<div class="bg-button" id="Adopted">
    <p>Adopted</p>
        <p>Add 2 Language(s) | Add Prof: Persuasion, Deception, Stealth | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="CaravanSpecialist">
    <p>Caravan Specialist</p>
        <p>Add 1 Language(s) | Add Prof: Animal Handling, Survival | Add Tool Prof: Land Vehicles</p>
</div>

<div class="bg-button" id="Charlatan">
    <p>Charlatan</p>
        <p>Add 0 Language(s) | Add Prof: Deception, Sleight of Hand | Add Tool Prof: Disguise Kit, Forgery Kit</p>
</div>

<div class="bg-button" id="CityWatch">
    <p>City Watch</p>
        <p>Add 2 Language(s) | Add Prof: Athletics, Insight | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="ClanCrafter">
    <p>Clan Crafter</p>
        <p>Add 1 Language(s) | Add Prof: History, Insight | Add Tool Prof: Artisan's Tools</p>
</div>

<div class="bg-button" id="Courtier">
    <p>Courtier</p>
        <p>Add 2 Language(s) | Add Prof: Persuasion, Insight | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="Criminal">
    <p>Criminal</p>
        <p>Add 0 Language(s) | Add Prof: Deception, Stealth | Add Tool Prof: Gaming Set, Theives' Tools</p>
</div>

<div class="bg-button" id="Entertainer">
    <p>Entertainer</p>
        <p>Add 0 Language(s) | Add Prof: Acrobatics, Performance | Add Tool Prof: Disguise Kit, 1x Musical Instrument</p>
</div>

<div class="bg-button" id="FactionAgent">
    <p>Faction Agent</p>
        <p>Add 2 Language(s) | Add Prof: Insight and 1x Any Other | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="FarTraveler">
    <p>Far Traveler</p>
        <p>Add 1 Language(s) | Add Prof: Insight, Perception | Add Tool Prof: Gaming Set, 1x Musical Instrument</p>
</div>

<div class="bg-button" id="FolkHero">
    <p>Folk Hero</p>
        <p>Add 0 Language(s) | Add Prof: Animal Handling, Survival | Add Tool Prof: 1x Any Tool, Land Vehicels</p>
</div>

<div class="bg-button" id="Gladiator">
    <p>Gladiator</p>
        <p>Add 0 Language(s) | Add Prof: Acrobatics, Performance | Add Tool Prof: Disguise Kit, 1x Unusual Weapon</p>
</div>

<div class="bg-button" id="GuildArtisan">
    <p>Guild Artisan</p>
        <p>Add 1 Language(s) | Add Prof: Insight, Persuasion | Add Tool Prof: 1x Any Tool</p>
</div>

<div class="bg-button" id="GuildMerchant">
    <p>Guild Merchant</p>
        <p>Add 1 Language(s) | Add Prof: Insight, Persuasion | Add Tool Prof: Navigator's Tools</p>
</div>

<div class="bg-button" id="Harborfolk">
    <p>Harborfolk</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Sleight of Hand | Add Tool Prof: Gaming Set, Water Vehicles</p>
</div>

<div class="bg-button" id="HauntedOne">
    <p>Haunted One</p>
        <p>Add 1 Exotic Language(s) | Add Prof: Choose 2x: Arcana, Investigation, Religion, Survival | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="Hermit">
    <p>Hermit</p>
        <p>Add 1 Language(s) | Add Prof: Medicine, Religion | Add Tool Prof: Herbalism Kit</p>
</div>

<div class="bg-button" id="Inheritor">
    <p>Inheritor</p>
        <p>Add 0 Language(s) | Add Prof: Survival, Choose 1x: Arcana, Histor, Religion | Add Tool Prof: Gaming Set, 1x Musical Instrument</p>
</div>

<div class="bg-button" id="Inquisitor">
    <p>Inquisitor</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Intimadation | Add Tool Prof: 1x Any Tool, Theives' Tools</p>
</div>

<div class="bg-button" id="Investigator">
    <p>Investigator</p>
        <p>Add 2 Language(s) | Add Prof: Investigation, Insight | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="Knight">
    <p>Knight</p>
        <p>Add 1 Language(s) | Add Prof: History, Persuasion | Add Tool Prof: Gaming Set</p>
</div>

<div class="bg-button" id="MercenaryVeteran">
    <p>Mercenary Veteran</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Persuasion | Add Tool Prof: Gaming Set, Land Vehicles</p>
</div>

<div class="bg-button" id="Noble">
    <p>Noble</p>
        <p>Add 1 Language(s) | Add Prof: History, Persuasion | Add Tool Prof: Gaming Set</p>
</div>

<div class="bg-button" id="Outlander">
    <p>Outlander</p>
        <p>Add 1 Language(s) | Add Prof: Athletics, Survival | Add Tool Prof: 1x Musical Instrument</p>
</div>

<div class="bg-button" id="Pirate">
    <p>Pirate</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Perception | Add Tool Prof: Navigators Tools, Water Vehicles</p>
</div>

<div class="bg-button" id="Sage">
    <p>Sage</p>
        <p>Add 2 Language(s) | Add Prof: Arcana, History | Add Tool Prof: None</p>
</div>

<div class="bg-button" id="Sailor">
    <p>Sailor</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Perception | Add Tool Prof: Navigators Tools, Water Vehicles</p>
</div>

<div class="bg-button" id="Soldier">
    <p>Soldier</p>
        <p>Add 0 Language(s) | Add Prof: Athletics, Intimadation | Add Tool Prof: Gaming Set, Land Vehicles</p>
</div>

<div class="bg-button" id="Spy">
    <p>Spy</p>
        <p>Add 0 Language(s) | Add Prof: Deception, Stealth | Add Tool Prof: Gaming Set, Theives Tools</p>
</div>

<div class="bg-button" id="UrbanBountyHunter">
    <p>Urban Bounty Hunter</p>
        <p>Add 0 Language(s) | Add Prof: Choose 2x: Deception, Insight, Persuasion, Stealth | Add Tool Prof: Gaming Set, 1x Musical Instrument, Theives Tools</p>
</div>

<div class="bg-button" id="Urchin">
    <p>Urchin</p>
        <p>Add 0 Language(s) | Add Prof: Sleight of Hand, Stealth | Add Tool Prof: Disguise Kit, Theives Tools</p>
</div>
</a>