<div>
  <p class="race-top">In this game, classes embody the distinct paths of power and abilities that your character can
    follow. Your class determines your role in combat, the skills and spells you possess, and the unique features that
    set you apart. Whether you desire to wield mighty weapons as a warrior, unravel arcane mysteries as a spellcaster,
    or support your allies as a healer, selecting a class will define your character's abilities and shape your destiny.
    So, choose wisely and let the grand tale of your character unfold!</p>
</div>

{{#each classes as |class| }}
<a href="/stats">
    <div class="class-button">
      <div class="class-content">
        <h1>{{class.class}}</h1>
        <p>{{class.description}}</p>
      </div>
      <img src={{class.image}} class="class-img" width="100">
    </div>
  </a>
{{/each}}

<script src="/js/class.js"></script>