<div>
    <p>Description</p>
</div>


<div class="class=cards">
    {{!-- <a href="/stats"> --}}
        <div class="class-button" id="Artificer">
            <p>Artificer</p>
                <p>Masters of invention, artificers use ingenuity and magic to unlock extraordinary capabilities in objects.</p>
        </div>
    {{!-- </a> --}}

    <a href="/stats">
        <div class="class-button" id="Barbarian">
            <p>Barbarian</p>
                <p>Filled with range and love of battle, the Barbarian is a fighter but can also play tank if built to be.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Bard">
            <p>Bard</p>
                <p>Poets and Minstrels, people in love with words and tunes, the Bard, inspiring magicians that have a charm and inspire allies.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Cleric">
            <p>Cleric</p>
                <p>Healers and Priests who weild divine magic of the higher power they serve.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Druid">
            <p>Druid</p>
                <p>People of the wilderness, Druids can shapeshift on beasts and cast magic mostly attuned to plant-life.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Fighter">
            <p>Fighter</p>
                <p>Fighter is a general class the are the most versatile and can be built into any role they need to fill for a team.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Monk">
            <p>Monk</p>
                <p>A master of martial arts, harnessing the power of the body in pursuit of physical and spiritual perfection</p>
        </div>
    </a>    

    <a href="/stats">
        <div class="class-button" id="Paladin">
            <p>Paladin</p>
                <p>The warrior of the god/power they serve. Paladins take up a sacred oath to their prospective deity.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Ranger">
            <p>Ranger</p>
                <p>Warriors of the wilderness, rangers specialize in hunting the monsters that threaten the edges of civilization.</p>
        </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Rogue">
            <p>Rogue</p>
                <p>Stealthy assassins that love theivery and murder. Amazing sneaking abilites and deals more damage based on sneak attacks and teamates around.</p>
        </div>
    </a>

    <a href="/stats">
    <div class="class-button" id="Sorcerer">
        <p>Sorcerer</p>
            <p>Sorcerers are spell-casters that gain their power from their bloodline.</p>
    </div>
    </a>

    <a href="/stats">
        <div class="class-button" id="Warlock">
            <p>Warlock</p>
                <p>Warlocks are spell-casters that receive their powers from making contracts with higher beings.</p>
        </div>
    </a>    

    <a href="/stats">
        <div class="class-button" id="Wizard">
            <p>Wizard</p>
                <p>Wizards are spell-casters that have to learn thier magic from scrolls, colleges, and texts.</p>
        </div>
    </a>
</div>

<script src="/js/class.js"></script>