<div>
    <p class="race-top">In this game, classes embody the distinct paths of power and abilities that your character can follow. Your class determines your role in combat, the skills and spells you possess, and the unique features that set you apart. Whether you desire to wield mighty weapons as a warrior, unravel arcane mysteries as a spellcaster, or support your allies as a healer, selecting a class will define your character's abilities and shape your destiny. So, choose wisely and let the grand tale of your character unfold!</p>
</div>


  <div class="class=cards">
      <a href="/stats">
          <div class="class-button" id="Artificer">
            <div class="class-content">
              <h1>Artificer</h1>
                  <p>Masters of invention, artificers use ingenuity and magic to unlock extraordinary capabilities in objects.</p>
          </div>
          <img src="/public/images/icons/Artficer.png" class="class-img" width="100">
          </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Barbarian">
          <div class="class-content">
            <h1>Barbarian</h1>
                <p>Filled with range and love of battle, the Barbarian is a fighter but can also play tank if built to be.</p>
        </div>
        <img src="/public/images/icons/Barbarian.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Bard">
          <div class="class-content">
            <h1>Bard</h1>
                <p>Poets and Minstrels, people in love with words and tunes, the Bard, inspiring magicians that have a charm and inspire allies.</p>
        </div>
        <img src="/public/images/icons/Bard.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Cleric">
          <div class="class-content">
            <h1>Cleric</h1>
                <p>Healers and Priests who weild divine magic of the higher power they serve.</p>
        </div>
        <img src="/public/images/icons/Cleric.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Druid">
          <div class="class-content">
            <h1>Druid</h1>
                <p>People of the wilderness, Druids can shapeshift on beasts and cast magic mostly attuned to plant-life.</p>
        </div>
        <img src="/public/images/icons/Druid.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Fighter">
          <div class="class-content">
            <h1>Fighter</h1>
                <p>Fighter is a general class the are the most versatile and can be built into any role they need to fill for a team.</p>
        </div>
        <img src="/public/images/icons/Fighter.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Monk">
          <div class="class-content">
            <h1>Monk</h1>
                <p>A master of martial arts, harnessing the power of the body in pursuit of physical and spiritual perfection.</p>
        </div>
        <img src="/public/images/icons/Monk.png" class="class-img" width="100">
        </div>
      </a>    
  
      <a href="/stats">
        <div class="class-button" id="Paladin">
          <div class="class-content">
            <h1>Paladin</h1>
                <p>The warrior of the god/power they serve. Paladins take up a sacred oath to their prospective deity.</p>
        </div>
        <img src="/public/images/icons/Paladin.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Ranger">
          <div class="class-content">
            <h1>Ranger</h1>
                <p>Warriors of the wilderness, rangers specialize in hunting the monsters that threaten the edges of civilization.</p>
        </div>
        <img src="/public/images/icons/Ranger.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Rogue">
          <div class="class-content">
            <h1>Rogue</h1>
                <p>Stealthy assassins that love theivery and murder. Amazing sneaking abilites and deals more damage based on sneak attacks and teamates around.</p>
        </div>
        <img src="/public/images/icons/Rogue.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Sorcerer">
          <div class="class-content">
            <h1>Sorcerer</h1>
                <p>Sorcerers are spell-casters that gain their power from their bloodline.</p>
        </div>
        <img src="/public/images/icons/sorcerer.png" class="class-img" width="100">
        </div>
      </a>
  
      <a href="/stats">
        <div class="class-button" id="Warlock">
          <div class="class-content">
            <h1>Warlock</h1>
                <p>Warlocks are spell-casters that receive their powers from making contracts with higher beings.</p>
        </div>
        <img src="/public/images/icons/Warlock.png" class="class-img" width="100">
        </div>
      </a>    
  
      <a href="/stats">
        <div class="class-button" id="Wizard">
          <div class="class-content">
            <h1>Wizard</h1>
                <p>Wizards are spell-casters that have to learn thier magic from scrolls, colleges, and texts.</p>
        </div>
        <img src="/public/images/icons/Wizard.png" class="class-img" width="100">
        </div>
      </a>
  </div>

<script src="/js/class.js"></script>