    <img class="home-img" src="/public/images/characters.png" alt="" width="800">

    <div class="content">
      <p class="body-txt">
        Welcome to the enchanting realm of Fabricate, a D&D Character Creator, where your imagination takes the lead and heroic adventures await! Our whimsical website is designed to empower aspiring adventurers like you to bring your unique characters to life. Whether you're a seasoned dungeon delver or a first-time explorer, our intuitive tools and vast array of customization options will guide you through the magical process of crafting your very own Dungeons & Dragons heroes. Unleash your creativity as you choose race, class, abilities, and gear, and watch your character spring to life before your eyes. So grab your dice, sharpen your pencils, and embark on a wondrous journey of character creation that's as fun as it is limitless. Adventure awaits, dear traveler!
      </p>
    </div>
    
    <a href="#" class="start-button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      START
    </a>



