<p class="list-container">NPC List</p>

{{#each characters as |char| }}
    {{#if npc}}
    <div class="char-card">
        <div class="subrace-button">Name: {{char.name}} | Race: {{char.race}} <br>
            <div>Class: {{char.characterclass}} | Background: {{char.background}}</div>
        </div>
    </div>
    {{/if}}
{{/each}}
