<div>
    <p>Description</p>
</div>

<div class="race-cards">
    <div class="race-button" id="Aarakocra">
            <p>Aarakocra</p>
                <p>The aarakocra, also known as birdfolk, are avian humanoids who live in high, mountainous regions. They are strong fliers and capable warriors.</p>
        </div>

    <div class="race-button" id="Aasimar">
            <p>Aasimar</p>
                <p>Aasimar are born to serve as champions of the gods, their births hailed as blessed events. They are a people of otherworldly visages, with luminous features.</p>
        </div>    

    <div class="race-button" id="Autognome">
            <p>Autognome</p>
                <p>Autognomes are mechanical creatures that travel the unknowns of Wildspace. They share a lot of similarities with gnomes.</p>
        </div>

    <div class="race-button" id="Bugbear">
            <p>Bugbear</p>
                <p>Bugbears are hairy goblinoids born for battle and mayhem. They survive by raiding and hunting, but are fond of setting ambushes and fleeing when outmatched.</p>
        </div>

    <div class="race-button" id="Centaur">
            <p>Centaur</p>
                <p>Centaur are half-human, half-horse creatures. They are considered fey instead of humanoid and tend to revere nature in all of its forms.</p>
        </div>         

    <div class="race-button" id="Changeling">
        <p>Changeling</p>
            <p>Changelings are a humanoid race who are distantly descended from doppelgangers and share their shapeshifting qualities. </p>
    </div>

    <div class="race-button" id="Dragonborn">
        <p>Dragonborn</p>
            <p>Shaped by the dragons themselves, dragonborn originally hatched from dragon eggs as a unique race, combining the best attributes of dragons and humanoids. </p>
    </div>

    <div class="subrace-button" id="Dwarf0">
        <p>Dwarf</p>
            <p>Hardy and skilled craftsmen, dwarves are known for their resilience and affinity for underground living.</p>
    </div>

    <div class="race-button" id="Dwarf1">
        <p>Hill Dwarf</p>
            <p>Hill dwarves are a deeply materialistic race who believe that the resources of the natural world exist only to serve the purpose of conscious beings. </p>
    </div>

    <div class="race-button" id="Dwarf2">
        <p>Mountain dwarf</p>
            <p>Mountain dwarves are a breed of dwarves at home in the high peaks and rarified air of the rocky mountains. </p>
    </div>

    <div class="race-button" id="Dwarf3">
        <p>Duergar</p>
            <p>Duergar are dwarves whose ancestors were transformed by centuries living in the deepest places of the Underdark.</p>
    </div>

    <div class="subrace-button" id="Elf0">
        <p>Elf</p>
            <p>Graceful and long-lived, elves are known for their keen senses and affinity for magic.</p>
    </div>

    <div class="race-button hide" id="Elf1">
        <p>Drow (Dark Elf)</p>
            <p>Dark elves are a dark-skinned and white-haired subrace of elves connected to the subterranean Underdark</p>
    </div>

    <div class="race-button hide" id="Elf2">
        <p>Eladrin</p>
            <p>Eladrin are elves of the Feywild, a realm of perilous beauty and boundless magic.</p>
    </div>

    <div class="race-button hide" id="Elf3">
        <p>High Elf</p>
            <p>The High Elves are a highly cultured people who are known for breathtaking architecture and massive historical libraries.</p>
    </div>

    <div class="race-button hide" id="Elf4">
        <p>Sea Elf</p>
            <p>Sea elves are a rare elven race found throughout many oceans and seas</p>
    </div>

    <div class="race-button hide" id="Elf5">
        <p>Shadar-Kai</p>
            <p>Sworn to the Raven Queen's service, the mysterious shadar-kai venture into the Material Plane from the Shadowfell to advance her will.</p>
    </div>

    <div class="race-button hide" id="Elf6">
        <p>Wood Elf</p>
            <p>The wood elves were actually native to Faerûn.</p>
    </div>

    <div class="race-button hide" id="Elf7">
        <p>Pallid Elf</p>
            <p>Pallid elves are a subrace of elves distinctive by their pale skin.</p>
    </div>

    <div class="race-button hide" id="Elf8">
        <p>Astral Elf</p>
            <p>Astral elves who don't dwell in the Astral Plane can live to be more than 750 years old.</p>
    </div>

    <div class="race-button" id="Fairy">
        <p>Fairy</p>
            <p>Infused with the magic of the Feywild, most fairies look like Small elves with insectile wings. </p>
    </div>

    <div class="race-button" id="Firbolg">
        <p>Firbolg</p>
            <p>Firbolgs possess great wisdom, living in concert with the natural world. This allows them to communicate with beasts and plants. </p>
    </div>

    <div class="subrace-button" id="Genasi0">
        <p>Genasi</p>
            <p>As a people touched by elemental power, genasi are viewed as seers, prophets, and chosen ones.</p>
    </div>

    <div class="race-button" id="Genasi1">
        <p>Air Genasi</p>
            <p>Element of Air</p>
    </div>

    <div class="race-button" id="Genasi2">
        <p>Earth Genasi</p>
            <p>Element of Earth</p>
    </div>

    <div class="race-button" id="Genasi3">
        <p>Fire Genasi</p>
            <p>Element of Fire</p>
    </div>

    <div class="race-button" id="Genasi4">
        <p>Water Genasi</p>
            <p>Element of Water</p>
    </div>

    <div class="race-button" id="Giff">
        <p>Giff</p>
            <p>Giff are tall, broad-shouldered folk with hippo-like features.</p>
    </div>

    <div class="race-button" id="Githyanki">
        <p>Githyanki</p>
            <p>Psionic humanoids from the astral plane, the githyanki are warriors, while the githzerai are monks and mystics.</p>
    </div>

    <div class="race-button" id="Githzerai">
        <p>Githzerai</p>
            <p>Focused philosophers and austere ascetics, the githzerai pursue lives of rigid order.</p>
    </div>

    <div class="subrace-button" id="Gnome0">
        <p>Gnome</p>
            <p>Gnomes take delight in life, enjoying every moment of invention, exploration, investigation, creation, and play.</p>
    </div>

    <div class="race-button" id="Gnome1">
        <p>Forest Gnome</p>
            <p>Forest gnomes are largely hunter-gatherers, harvesting their food from wild fruits, nuts, and berries, and supplementing their diet with a little meat.</p>
    </div>

    <div class="race-button" id="Gnome2">
        <p>Rock Gnome</p>
            <p>Rock gnomes are a curious, childlike race.</p>
    </div>

    <div class="race-button" id="Gnome3">
        <p> Deep Gnome</p>
            <p>Deep gnomes, called svirfneblin in their own language, were a gnome subrace that lived in the Underdark.</p>
    </div>

    <div class="race-button" id="Goblin">
        <p>Goblin</p>
            <p>Goblins are small, black-hearted humanoids that lair in despoiled dungeons and other dismal settings. </p>
    </div>

    <div class="race-button" id="Goliath">
        <p>Goliath</p>
            <p>Towering humanoids from mountainous regions, goliaths are known for their strength and endurance.</p>
    </div>

    <div class="race-button" id="Hadozee">
        <p>Hadozee</p>
            <p>Hadozees are people with simian features that long ago adapted to live among the tall trees of their home world.</p>
    </div>

    <div class="race-button" id="Half-Elf">
        <p>Half-Elf</p>
            <p>As a race, they have elven grace without elven aloofness and human energy without human boorishness.</p>
    </div>

    <div class="race-button" id="Half-Orc">
        <p>Half-Orc</p>
            <p>Half-orcs are humanoids born of both human and orc ancestry by a multitude of means.</p>
    </div>

    <div class="subrace-button" id="Halfling0">
        <p>Halfling</p>
            <p>Small and nimble, halflings are known for their luck and stealth.</p>
    </div>

    <div class="race-button" id="Halfling1">
        <p>Lightfoot Halfling</p>
            <p>The most common type of halflings seen in the world, in large part due to their famous wanderlust.</p>
    </div>

    <div class="race-button" id="Halfling2">
        <p>Stout Halfling</p>
            <p>Stout halflings are quiet and earthy people, content to stay in their small communities and away from the crowds of "tall folk".</p>
    </div>

    <div class="race-button" id="Halfling3">
        <p>Ghostwise Halfling</p>
            <p>Ghostwise halflings were very elusive and were generally isolated from the outside world.</p>
    </div>

    <div class="race-button" id="Halfling4">
        <p>Lotusden Halfling</p>
            <p>Long tied to the natural heart of the Lotusden Greenwood, these halflings have adapted to live synergistically with the chaotic laws of the wilds.</p>
    </div>

    <div class="race-button" id="Harengon">
        <p>Harengon</p>
            <p>Harengons are bipedal, with the characteristic long feet of the rabbits they resemble and fur in a variety of colors.</p>
    </div>

    <div class="race-button" id="Hobgoblin">
        <p>Hobgoblin</p>
            <p>Hobgoblins are an elite species of goblinoids trained in military fighting techniques. </p>
    </div>

    <div class="race-button" id="Human">
        <p>Human</p>
            <p>Versatile and adaptable, humans are the most widespread race in most D&D settings.</p>
    </div>

    <div class="race-button" id="Kalashtar">
        <p>Kalashtar</p>
            <p>The kalashtar are a compound race created from the union of humanity and renegade spirits from the plane of dreams</p>
    </div>

    <div class="race-button" id="Kender">
        <p>Kender</p>
            <p>Kender are a small-sized race with gnomish ancestors, primarily known for their absence of fear.</p>
    </div>

    <div class="race-button" id="Kenku">
        <p>Kenku</p>
            <p>Raven-like humanoids, kenku have a talent for mimicry but are cursed with an inability to speak in their own voices.</p>
    </div>

    <div class="race-button" id="Kobold">
        <p>Kobold</p>
            <p>Kobolds are craven reptilian humanoids that commonly infest dungeons. They make up for their physical ineptitude with a cleverness for trap making.</p>
    </div>

    <div class="race-button" id="Leonin">
        <p>Leonin</p>
            <p>Leonin are prideful and self-reliant, and most have no need of gods to coddle them.</p>
    </div>

    <div class="race-button" id="Lineages">
        <p>Lineages</p>
            <p>A lineage replaces your race's traits and sometimes adds some new flavor to your character. You can choose any race and apply a lineage to it</p>
    </div>

    <div class="race-button" id="Lizardfolk">
        <p>Lizardfolk</p>
            <p>Lizardfolk are tall humanoids that look like a cross between a powerfully built human and a lizard.</p>
    </div>

    <div class="race-button" id="Loxodon">
        <p>Loxodon</p>
            <p>Loxodons are a race of elephant humanoids. They are known as formidable warriors.</p>
    </div>

    <div class="race-button" id="Minotaur">
        <p>Minotaur</p>
            <p>Minotaurs are barrel-chested humanoids with heads resembling those of bulls.</p>
    </div>

    <div class="race-button" id="Orc">
        <p>Orc</p>
            <p>Savage and fearless, motivated by their hatred of the civilized races of the world and their need to satisfy the demands of their deities.</p>
    </div>

    <div class="race-button" id="Owlin">
        <p>Owlin</p>
            <p>Distant kin of giant owls from the Feywild, owlin come in many shapes and sizes, from petite and fluffy to wide-winged and majestic. </p>
    </div>

    <div class="race-button" id="Plasmoid">
        <p>Plasmoid</p>
            <p>Plasmoids are amorphous beings with no typical shape. In the presence of other folk, they often adopt a similar shape.</p>
    </div>

    <div class="race-button" id="Satyr">
        <p>Satyr</p>
            <p>Most satyrs appear as half-humanoid, half-goat creatures that stem from a cross between nature spirits and humans.</p>
    </div>

     <div class="race-button" id="Shifter">
        <p>Shifter</p>
            <p>At first a shifter may appear human, but closer inspection reveals pointed ears, flat noses, and canine teeth.</p>
    </div>

     <div class="race-button" id="Simic Hybrid">
        <p>Simic Hybrid</p>
            <p>Fused with animals, they were created to become super soldiers tasked with protecting the natural world from the expansion of civilization.</p>
    </div>

    <div class="race-button" id="Tabaxi">
        <p>Tabaxi</p>
            <p>Feline humanoids, tabaxi are agile and curious, with a natural inclination for exploration and curiosity.</p>
    </div>

    <div class="race-button" id="Thri-kreen">
        <p>Thri-kreen</p>
            <p>Thri-kreen have insectile features and two pairs of arms. Their bodies are encased in protective chitin.</p>
    </div>

    <div class="race-button" id="Tiefling">
        <p>Tiefling</p>
            <p>Humans with infernal or fiendish ancestry, tieflings often possess demonic features and innate magical abilities.</p>
    </div>

    <div class="race-button" id="Tortle">
        <p>Tortle</p>
            <p>Tortles are a simple and friendly race of turtle-like humanoids.</p>
    </div>

    <div class="race-button" id="Triton">
        <p>Triton</p>
            <p>Aquatic humanoids, tritons are adapted to life underwater and possess various water-related abilities.</p>
    </div>

    <div class="race-button" id="Vedalken">
        <p>Vedalken</p>
            <p>Vedalken are a race of partially-amphibious, blue-skinned humanoids resembling earless humans in body paint.</p>
    </div>

    <div class="race-button" id="Verdan">
        <p>Verdan</p>
            <p>Verdans are an ambiguously Goblinoid mortal or creature that is nearly equipped to be disordered oddities. </p>
    </div>

    <div class="race-button" id="Warforged">
        <p>Warforged</p>
            <p>Constructed beings, warforged are living constructs created for war, known for their durability and versatility.</p>
    </div>

     <div class="race-button" id="Yuan-ti">
        <p>Yuan-ti</p>
            <p>All Yuan-ti are snake-like, though some more so than others, possessing serpentine bodies instead of legs or scaled, snaking arms that descend.</p>
    </div>


</div>