<div>
    <p>Description</p>
</div>

<div class="race-cards">
    
    <a href="/class">
        <div class="race-button" id="Aarakocra">
                <p>Aarakocra</p>
                    <p class="race-det">The aarakocra, also known as birdfolk, are avian humanoids who live in high, mountainous regions. They are strong fliers and capable warriors.</p>
            </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Aasimar">
                <p>Aasimar</p>
                    <p class="race-det">Aasimar are born to serve as champions of the gods, their births hailed as blessed events. They are a people of otherworldly visages, with luminous features.</p>
            </div>    
    </a>

    <a href="/class">
        <div class="race-button" id="Autognome">
                <p>Autognome</p>
                    <p class="race-det">Autognomes are mechanical creatures that travel the unknowns of Wildspace. They share a lot of similarities with gnomes.</p>
            </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Bugbear">
                <p>Bugbear</p>
                    <p class="race-det">Bugbears are hairy goblinoids born for battle and mayhem. They survive by raiding and hunting, but are fond of setting ambushes and fleeing when outmatched.</p>
            </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Centaur">
                <p>Centaur</p>
                    <p class="race-det">Centaur are half-human, half-horse creatures. They are considered fey instead of humanoid and tend to revere nature in all of its forms.</p>
            </div>
    </a>         

    <a href="/class">
        <div class="race-button" id="Changeling">
            <p>Changeling</p>
                <p class="race-det">Changelings are a humanoid race who are distantly descended from doppelgangers and share their shapeshifting qualities. </p>
        </div>
    </a>

    <div class="subrace-button" id="Dragonborn0">
        <p>Dragonborn</p>
            <p class="race-det">Shaped by the dragons themselves, dragonborn originally hatched from dragon eggs as a unique race, combining the best attributes of dragons and humanoids. </p>
    </div>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn1">
            <p> Black Dragonborn</p>
                <p class="race-det">Acid dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn2">
            <p>Blue Dragonborn</p>
                <p class="race-det">Lightning dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn3">
            <p>Brass Dragonborn</p>
                <p class="race-det">Fire dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn4">
            <p>Bronze Dragonborn</p>
                <p class="race-det">Lightning dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn5">
            <p> Copper Dragonborn</p>
                <p class="race-det">Acid dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn6">
            <p>Gold Dragonborn</p>
                <p class="race-det">Fire dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn7">
            <p>Green Dragonborn</p>
                <p class="race-det">Poison dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn8">
            <p>Red Dragonborn</p>
                <p class="race-det">Fire dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn9">
            <p>Silver Dragonborn</p>
                <p class="race-det">Cold dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn10">
            <p>White Dragonborn</p>
                <p class="race-det">Cold dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn11">
            <p>Amethyst Dragonborn</p>
                <p class="race-det">Force dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn12">
            <p>Crystal Dragonborn</p>
                <p class="race-det">Radiant dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn13">
            <p>Emerald Dragonborn</p>
                <p class="race-det">Psychic dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn14">
            <p>Sapphire Dragonborn</p>
                <p class="race-det">Thunder dmg Type</p>
        </div>
    </a>

    <a href="/class">
        <div class="subrace-button" id="Dragonborn15">
            <p>Topaz Dragonborn</p>
                <p class="race-det">Necrotic dmg Type</p>
        </div>
    </a>

    <div class="subrace-button" id="Dwarf0">
        <p>Dwarf</p>
            <p class="race-det">Hardy and skilled craftsmen, dwarves are known for their resilience and affinity for underground living.</p>
    </div>

    <a href="/class">
        <div class="race-button hide" id="Dwarf1">
            <p>Hill Dwarf</p>
                <p class="race-det">Hill dwarves are a deeply materialistic race who believe that the resources of the natural world exist only to serve the purpose of conscious beings. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Dwarf2">
            <p>Mountain dwarf</p>
                <p class="race-det">Mountain dwarves are a breed of dwarves at home in the high peaks and rarified air of the rocky mountains. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Dwarf3">
            <p>Duergar</p>
                <p class="race-det">Duergar are dwarves whose ancestors were transformed by centuries living in the deepest places of the Underdark.</p>
        </div>
    </a>

        <div class="subrace-button" id="Elf0">
            <p>Elf</p>
                <p class="race-det">Graceful and long-lived, elves are known for their keen senses and affinity for magic.</p>
        </div>

    <a href="/class">
        <div class="race-button hide" id="Elf1">
            <p>Drow (Dark Elf)</p>
                <p class="race-det">Dark elves are a dark-skinned and white-haired subrace of elves connected to the subterranean Underdark</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf2">
            <p>Eladrin</p>
                <p class="race-det">Eladrin are elves of the Feywild, a realm of perilous beauty and boundless magic.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf3">
            <p>High Elf</p>
                <p class="race-det">The High Elves are a highly cultured people who are known for breathtaking architecture and massive historical libraries.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf4">
            <p>Sea Elf</p>
                <p class="race-det">Sea elves are a rare elven race found throughout many oceans and seas</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf5">
            <p>Shadar-Kai</p>
                <p class="race-det">Sworn to the Raven Queen's service, the mysterious shadar-kai venture into the Material Plane from the Shadowfell to advance her will.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf6">
            <p>Wood Elf</p>
                <p class="race-det">The wood elves were actually native to Faerûn.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf7">
            <p>Pallid Elf</p>
                <p class="race-det">Pallid elves are a subrace of elves distinctive by their pale skin.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Elf8">
            <p>Astral Elf</p>
                <p class="race-det">Astral elves who don't dwell in the Astral Plane can live to be more than 750 years old.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Fairy">
            <p>Fairy</p>
                <p class="race-det">Infused with the magic of the Feywild, most fairies look like Small elves with insectile wings. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Firbolg">
            <p>Firbolg</p>
                <p class="race-det">Firbolgs possess great wisdom, living in concert with the natural world. This allows them to communicate with beasts and plants. </p>
        </div>
    </a>

        <div class="subrace-button" id="Genasi0">
            <p>Genasi</p>
                <p class="race-det">As a people touched by elemental power, genasi are viewed as seers, prophets, and chosen ones.</p>
        </div>

    <a href="/class">
        <div class="race-button hide" id="Genasi1">
            <p>Air Genasi</p>
                <p class="race-det">Element of Air</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Genasi2">
            <p>Earth Genasi</p>
                <p class="race-det">Element of Earth</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Genasi3">
            <p>Fire Genasi</p>
                <p class="race-det">Element of Fire</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Genasi4">
            <p>Water Genasi</p>
                <p class="race-det">Element of Water</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Giff">
            <p>Giff</p>
                <p class="race-det">Giff are tall, broad-shouldered folk with hippo-like features.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Githyanki">
            <p>Githyanki</p>
                <p class="race-det">Psionic humanoids from the astral plane, the githyanki are warriors, while the githzerai are monks and mystics.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Githzerai">
            <p>Githzerai</p>
                <p class="race-det">Focused philosophers and austere ascetics, the githzerai pursue lives of rigid order.</p>
        </div>
    </a>

        <div class="subrace-button" id="Gnome0">
            <p>Gnome</p>
                <p class="race-det">Gnomes take delight in life, enjoying every moment of invention, exploration, investigation, creation, and play.</p>
        </div>

    <a href="/class">
        <div class="race-button hide" id="Gnome1">
            <p>Forest Gnome</p>
                <p class="race-det">Forest gnomes are largely hunter-gatherers, harvesting their food from wild fruits, nuts, and berries, and supplementing their diet with a little meat.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Gnome2">
            <p>Rock Gnome</p>
                <p class="race-det">Rock gnomes are a curious, childlike race.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Gnome3">
            <p> Deep Gnome</p>
                <p class="race-det">Deep gnomes, called svirfneblin in their own language, were a gnome subrace that lived in the Underdark.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Goblin">
            <p>Goblin</p>
                <p class="race-det">Goblins are small, black-hearted humanoids that lair in despoiled dungeons and other dismal settings. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Goliath">
            <p>Goliath</p>
                <p class="race-det">Towering humanoids from mountainous regions, goliaths are known for their strength and endurance.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Hadozee">
            <p>Hadozee</p>
                <p class="race-det">Hadozees are people with simian features that long ago adapted to live among the tall trees of their home world.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Half-Elf">
            <p>Half-Elf</p>
                <p class="race-det">As a race, they have elven grace without elven aloofness and human energy without human boorishness.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Half-Orc">
            <p>Half-Orc</p>
                <p class="race-det">Half-orcs are humanoids born of both human and orc ancestry by a multitude of means.</p>
        </div>
    </a>

    <div class="subrace-button" id="Halfling0">
        <p>Halfling</p>
            <p class="race-det">Small and nimble, halflings are known for their luck and stealth.</p>
    </div>

    <a href="/class">
        <div class="race-button hide" id="Halfling1">
            <p>Lightfoot Halfling</p>
                <p class="race-det">The most common type of halflings seen in the world, in large part due to their famous wanderlust.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Halfling2">
            <p>Stout Halfling</p>
                <p class="race-det">Stout halflings are quiet and earthy people, content to stay in their small communities and away from the crowds of "tall folk".</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Halfling3">
            <p>Ghostwise Halfling</p>
                <p class="race-det">Ghostwise halflings were very elusive and were generally isolated from the outside world.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button hide" id="Halfling4">
            <p>Lotusden Halfling</p>
                <p class="race-det">Long tied to the natural heart of the Lotusden Greenwood, these halflings have adapted to live synergistically with the chaotic laws of the wilds.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Harengon">
            <p>Harengon</p>
                <p class="race-det">Harengons are bipedal, with the characteristic long feet of the rabbits they resemble and fur in a variety of colors.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Hobgoblin">
            <p>Hobgoblin</p>
                <p class="race-det">Hobgoblins are an elite species of goblinoids trained in military fighting techniques. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Human">
            <p>Human</p>
                <p class="race-det">Versatile and adaptable, humans are the most widespread race in most D&D settings.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Kalashtar">
            <p>Kalashtar</p>
                <p class="race-det">The kalashtar are a compound race created from the union of humanity and renegade spirits from the plane of dreams</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Kender">
            <p>Kender</p>
                <p class="race-det">Kender are a small-sized race with gnomish ancestors, primarily known for their absence of fear.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Kenku">
            <p>Kenku</p>
                <p class="race-det">Raven-like humanoids, kenku have a talent for mimicry but are cursed with an inability to speak in their own voices.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Kobold">
            <p>Kobold</p>
                <p class="race-det">Kobolds are craven reptilian humanoids that commonly infest dungeons. They make up for their physical ineptitude with a cleverness for trap making.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Leonin">
            <p>Leonin</p>
                <p class="race-det">Leonin are prideful and self-reliant, and most have no need of gods to coddle them.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Lineages">
            <p>Lineages</p>
                <p class="race-det">A lineage replaces your race's traits and sometimes adds some new flavor to your character. You can choose any race and apply a lineage to it</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Lizardfolk">
            <p>Lizardfolk</p>
                <p class="race-det">Lizardfolk are tall humanoids that look like a cross between a powerfully built human and a lizard.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Loxodon">
            <p>Loxodon</p>
                <p class="race-det">Loxodons are a race of elephant humanoids. They are known as formidable warriors.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Minotaur">
            <p>Minotaur</p>
                <p class="race-det">Minotaurs are barrel-chested humanoids with heads resembling those of bulls.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Orc">
            <p>Orc</p>
                <p class="race-det">Savage and fearless, motivated by their hatred of the civilized races of the world and their need to satisfy the demands of their deities.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Owlin">
            <p>Owlin</p>
                <p class="race-det">Distant kin of giant owls from the Feywild, owlin come in many shapes and sizes, from petite and fluffy to wide-winged and majestic. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Plasmoid">
            <p>Plasmoid</p>
                <p class="race-det">Plasmoids are amorphous beings with no typical shape. In the presence of other folk, they often adopt a similar shape.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Satyr">
            <p>Satyr</p>
                <p class="race-det">Most satyrs appear as half-humanoid, half-goat creatures that stem from a cross between nature spirits and humans.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Shifter">
            <p>Shifter</p>
                <p class="race-det">At first a shifter may appear human, but closer inspection reveals pointed ears, flat noses, and canine teeth.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Simic Hybrid">
            <p>Simic Hybrid</p>
                <p class="race-det">Fused with animals, they were created to become super soldiers tasked with protecting the natural world from the expansion of civilization.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Tabaxi">
            <p>Tabaxi</p>
                <p class="race-det">Feline humanoids, tabaxi are agile and curious, with a natural inclination for exploration and curiosity.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Thri-kreen">
            <p>Thri-kreen</p>
                <p class="race-det">Thri-kreen have insectile features and two pairs of arms. Their bodies are encased in protective chitin.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Tiefling">
            <p>Tiefling</p>
                <p class="race-det">Humans with infernal or fiendish ancestry, tieflings often possess demonic features and innate magical abilities.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Tortle">
            <p>Tortle</p>
                <p class="race-det">Tortles are a simple and friendly race of turtle-like humanoids.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Triton">
            <p>Triton</p>
                <p class="race-det">Aquatic humanoids, tritons are adapted to life underwater and possess various water-related abilities.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Vedalken">
            <p>Vedalken</p>
                <p class="race-det">Vedalken are a race of partially-amphibious, blue-skinned humanoids resembling earless humans in body paint.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Verdan">
            <p>Verdan</p>
                <p class="race-det">Verdans are an ambiguously Goblinoid mortal or creature that is nearly equipped to be disordered oddities. </p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Warforged">
            <p>Warforged</p>
                <p class="race-det">Constructed beings, warforged are living constructs created for war, known for their durability and versatility.</p>
        </div>
    </a>

    <a href="/class">
        <div class="race-button" id="Yuan-ti">
            <p>Yuan-ti</p>
                <p class="race-det">All Yuan-ti are snake-like, though some more so than others, possessing serpentine bodies instead of legs or scaled, snaking arms that descend.</p>
        </div>
    </a>
</div>

<script src="/js/race.js"></script>