<div>
      <p class="race-top">In this game, races serve as the foundation for your character's identity. A race represents the humanoid species you belong to and defines your physical traits, cultural background, and unique abilities. Choosing a race is an exciting opportunity to shape your character's story and gameplay experience. Dive in, explore the diverse races available, and embark on your epic adventure!</p>
</div>

{{#each races as |race| }}
    <a href="/class">
        <div class="race-button">
                <h1>{{race.race}}</h1> <br>
                <p class="race-det">{{race.description}}</p> <br>
            </div>
        </div>
    </a>
{{/each}}

<script src="/js/race.js"></script>