{{!-- <div class="stats-cards">
    <div class="stat-input" id="strength">
        <p>Strength</p>
        <input>
    </div>
    <div class="stat-input" id="dexterity">
        <p>Dexterity</p>
        <input>
    </div>
    <div class="stat-input" id="constitution">
        <p>Constitution</p>
        <input>
    </div>
    <div class="stat-input" id="intelligence">
        <p>Intelligence</p>
        <input>
    </div>
    <div class="stat-input" id="wisdom">
        <p>Wisdom</p>
        <input>
    </div>
    <div class="stat-input" id="charisma">
        <p>Charisma</p>
        <input>
    </div>
</div> --}}

<form id="stats-form">
    <div class="stat-input">
        <label for="strength">Strength:</label>
        <input type="number" id="strength" min="1" max="20" />
    </div>
    <div class="stat-input">
        <label for="dexterity">Dexterity:</label>
        <input type="number" id="dexterity" min="1" max="20" />
    </div>
    <div class="stat-input">
        <label for="constitution">Constitution:</label>
        <input type="number" id="constitution" min="1" max="20" />
    </div>
    <div class="stat-input">
        <label for="intelligence">Intelligence:</label>
        <input type="number" id="intelligence" min="1" max="20" />
    </div>
    <div class="stat-input">
        <label for="wisdom">Wisdom:</label>
        <input type="number" id="wisdom" min="1" max="20" />
    </div>
    <div class="stat-input">
        <label for="charisma">Charisma:</label>
        <input type="number" id="charisma" min="1" max="20" />
    </div>

    <div>
        <button type="submit" onclick="hrefFunction()">Submit</button>
    </div>
</form>