.card-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    border: 2px solid #000; /* Border color */
    border-radius: 10px; /* Rounded edges */
    width: 400px; /* Card width */
    overflow: hidden; /* Hide overflowing content */
    background-color: #fff; /* Card background color */
    margin: 1rem;
}
  
.image {
    float: left; 
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
}
  
.description {
    margin-left: 120px;
    padding: 10px;
    margin-bottom: 2rem;
}

.race-h1 {
    color: black !important;
}

.race-desc {
    color: black !important;
}

.sBtn-text {
    color: black !important;
}

.select-menu {
    width: 380px;
    margin: 10px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 3px black;
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: white;
}

.options .option:hover {
    background: whitesmoke;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: black;
}
