/* General */
/* :root {
    --darker-green: #6b705c;
    --mid-dark-green: #a5a58d;
    --dark-green: #ccd5ae;
    --light-green: #e9edc9;
    --dark-tan: #d4a373;
    --mid-tan: #faedcd;
    --light-tan: #fefae0;
  }
  
  body {
    height: 100vh;
    margin: 0px;
    background-image: url('/public/images/paintings\,-cityscapes\,-buildings\,-artwork\,-medieval-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--dark-green);
  } */
  
/* Nav */
  /* nav {
    display: flex;
    width: 100%;
    background-color:black;
  }
  
  nav > .nav-section {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  #nav-logo-section,
  #nav-link-section {
    flex-basis: calc(100% / 3);
  }
  
  #nav-logo-section {
    justify-content: flex-start;
    cursor: pointer;
  }
  
  #nav-logo-section {
    font-size: 2.5rem;
  }
  
  #nav-link-section {
    gap: 6rem
  }
  
  #nav-social-section,
  #nav-login-section {
    flex-grow: 1;
  }
  
  #nav-social-section {
    gap: 3rem
  }

  .logon-button {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--darker-green);
  }

  .logon-button:hover {
    background-color: var(--mid-dark-green);
  } */


/* Main */
/* main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20%;
    height: 100vh;
    display: flex;
    flex: center;
    background-color: #faedcd; */
/* } */

/* Footer */
/* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 1rem 0rem;
}  */

:root {
  --darker-green: #6b705c;
  --mid-dark-green: #a5a58d;
  --dark-green: #ccd5ae;
  --light-green: #e9edc9;
  --dark-tan: #d4a373;
  --mid-tan: #faedcd;
  --light-tan: #fefae0;
}

body {
  margin: 0;
  background-image: url('/public/images/paintings\,-cityscapes\,-buildings\,-artwork\,-medieval-.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--dark-green);
}

nav {
  display: flex;
  background-color: black;
}

nav > .nav-section {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: 50%;
}

#nav-logo-section {
  justify-content: flex-start;
  cursor: pointer;
  font-size: 2.5rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section,
#nav-login-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem;
}

.logon-button {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--darker-green);
}

.logon-button:hover {
  background-color: var(--mid-dark-green);
}

main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  min-height: calc(100vh - 8rem); /* Subtract the height of the header and footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mid-tan);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1rem 0;
}

/* Media Queries */
@media (min-width: 768px) {
  main {
    width: 90%; /* Adjust the width to your desired value */
  }
}

@media (min-width: 1200px) {
  main {
    width: 70%; /* Adjust the width to your desired value */
  }
}