/* MAIN */
:root {
  --darker-green: #6b705c;
  --mid-dark-green: #a5a58d;
  --dark-green: #ccd5ae;
  --light-green: #e9edc9;
  --dark-tan: #d4a373;
  --mid-tan: #faedcd;
  --light-tan: #fefae0;
  --dark-blue: #48cae4;
  --light-blue: #90e0ef;
}

body {
  margin: 0;
  background-image: url('../images/street.jpg');
  background-repeat: inherit;
  background-size: contain;
}

.scroll-effect {
  background-position: center calc(50% + var(--scroll-position) * 0.5px);
}

h1 {
  font-family: 'Eagle Lake', cursive;
  font-weight: 400;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px var(--dark-blue), -2px -2px 4px var(--light-blue);
}

h2, h3, a, p, span {
  font-family: 'MedievalSharp', cursive;
  font-weight: 400;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  text-shadow: 2px 2px 4px var(--dark-blue), -2px -2px 4px var(--light-blue);
}
/* NAV BAR */
nav {
  display: flex;
  background-color: black;
}

nav > .nav-section {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: 50%;
}

#nav-logo-section {
  justify-content: flex-start;
  cursor: pointer;
  font-size: 2.5rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section,
#nav-login-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem;
}

.logon-button {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--darker-green);
}

.logon-button:hover {
  background-color: var(--mid-dark-green);
}
/* HOME PAGE */
main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mid-tan);
  background-image: url(/images/parchment.jpg);
}

.home-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.body-txt {
  color: black !important;
  font-size: larger !important;
  font-weight: bolder !important;
  font-size: 28px !important;
  font-family: 'MedievalSharp', cursive !important;
}
/* LOGIN PAGE */
#login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#signup-form {
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* START BUTTON */
.start-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.start-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  overflow: hidden;
  transition: 0.2s;
}

.start-button:hover {
  color: black;
  text-shadow: var(--light-blue);
  background: var(--dark-blue);
  box-shadow: 0 0 10px var(--dark-blue), 0 0 40px var(--dark-blue), 0 0 80px var(--dark-blue);
  transition-delay: 1s;
}

.start-button span {
  position: absolute;
  display: block;
}

.start-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--dark-blue));
}

.start-button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.start-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--dark-blue));
}

.start-button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.start-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--dark-blue));
}

.start-button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.start-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--dark-blue));
}

.start-button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* RACE PAGE & CLASS */
.race-top {
  margin: 2rem;
  text-align: center;
  color: black !important;
  font-size: larger !important;
  font-weight: bolder !important;
  font-size: 28px !important;
  font-family: 'MedievalSharp', cursive !important;
}

.race-button,
.bg-button,
.class-button {
  border: solid black 3px;
  border-radius: 5px;
  background-color: var(--mid-dark-green);
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
  margin: 1rem;
}

.race-button:hover,
.bg-button:hover,
.class-button:hover {
  background-color:var(--darker-green);
}

.race-button,
.class-button p,
.bg-button{
  color: white !important;
  font-size: 20px;
  width: 1000px;
}

.race-button, 
.class-button h1{
  font-size: 24px !important;
}

.race-type {
  font-weight: bold;
  color:white;
  text-shadow: var(--dark-blue) 5px;
}

.subrace-button{
  border: solid black 3px;
  border-radius: 5px;
  background-color: var(--mid-dark-green);
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
  margin: 1rem;
}

.subrace-button p{
  color: white !important;
  font-size: 20px;
}

.subrace-button h1{
  font-size: 24px !important;
}

.subrace-button:hover {
  background-color:var(--darker-green);
}

.stats-cards p{
  color: black;
}

.class-button {
  display: flex;
  align-items: center;
}

.class-content {
  flex: 1;
}

.class-img {
  margin-left: 1rem;
}

/* CHARACTER SHEET */
.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.container h1 {
  text-align: center !important;
  margin-bottom: 20px !important;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px var(--dark-blue), -2px -2px 4px var(--light-blue);
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field label {
  flex-basis: 30%;
  font-weight: bold;
}

.field input[type="text"],
.field input[type="number"],
.field select {
  flex-basis: 70%;
  padding: 5px;
}

.field input[type="text"]:disabled,
.field input[type="number"]:disabled,
.field select:disabled {
  background-color: #ddd;
}

.cs-buttons {
  text-align: center;
}

.cs-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
}
/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1rem 0;
}

.list-container {
  color: black;
  font-size: 60px;
  background-color:var(--mid-dark-green);
  border: solid black 3px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
}

.char-card {
  margin-bottom: 5px;
  padding: 5px;
}

h4, .race-det {
  font-size: 22px;
  font-family: 'MedievalSharp', cursive;
  font-weight: 400;
  margin: 0;
}

.deleteButton {
  font-size: 20px;
  border: black 3px solid;
  background-color: var(--dark-green);
  width: 75px;
  justify-content: end;
  float: right;
  padding: 2px;

}

.deleteButton:hover {
  background-color: rgb(60, 59, 42);
}

.monsterText,
.spellText {
 font-size: 30px; 
}

/* Media Queries */
@media (min-width: 768px) {
  main {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 70%;
  }
}
